.search-dropdown {
    position:relative;
    z-index: 1;
    width: 100%;
    max-height: 250px;
    background: #F6F6f6;
    overflow-y: auto;
}

.funcionario {
    padding: 5px;
}

.funcionario:hover{
    background: #f0f0f0;
}