<div class="container" style="margin-top: 25px;">

    <form [formGroup]='pagamentoForm' (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label for="nome">Solicitante</label>
            <input required formControlName="solicitante" (click)="toggleDropDown()" type="text" class="form-control"
                id="solicitante" placeholder="Buscar Funcionário">
            <div *ngIf="getShowing()" class="search-dropdown">
                <div (click)="selectValue(funcionario)" class="funcionario"
                    *ngFor="let funcionario of funcionarios | searchFuncionario: getSearchValue()">
                    {{funcionario.nome}}
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="descricao">Descrição</label>
            <input matInput required formControlName="descricao" type="text" class="form-control" id="descricao">

            <div class="alert alert-danger" *ngIf="pagamentoForm.value.descricao.touched && 
                    !pagamentoForm.value.descricao.valid">
                Descrição do pagamento é um campo obrigatório
            </div>
        </div>

        <div class="form-group row">
            <div class="col">
                <label for="valor">Valor</label>
                <input matInput required formControlName="valor" type="text" class="form-control" id="valor">

                <div class="alert alert-danger" *ngIf="pagamentoForm.value.valor.touched && 
                        !pagamentoForm.value.valor.valid">
                    Valor do pagamento é um campo obrigatório
                </div>
            </div>

            <div class="col">
                <label for="vencimento">Vencimento</label>
                <input matInput required formControlName="vencimento" type="date" class="form-control" id="vencimento">

                <div class="alert alert-danger" *ngIf="pagamentoForm.value.vencimento.touched && 
                        !pagamentoForm.value.vencimento.valid">
                    Vencimento do pagamento é um campo obrigatório
                </div>
            </div>
        </div>

        <button type="submit" [disabled]="!pagamentoForm.valid" class="btn btn-primary">Adicionar</button>

    </form>

</div>