<div class="container">
    <div class="col-sm-12" style="margin-top: 50px;">

        <table class="table table-striped table-bordered">
            <thead class="thead-light">
                <tr>
                    <th>Cod</th>
                    <th>Solicitante</th>
                    <th>Descrição</th>
                    <th>Data de Vencimento</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pagamento of pagamentosNaoAutorizados">
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox"  (change)="onChange(pagamento, $event.target.checked)">
                            <label style="margin-left: 10px;">{{pagamento.idPagamento}}</label>
                        </div>
                    </td>
                    <td>{{pagamento.solicitante.nome}}</td>
                    <td>{{pagamento.descricao}}</td>
                    <td>{{pagamento.dataVencimento | date:"dd/MM/yyyy"}}</td>
                </tr>
            </tbody>
        </table>
        <button (click)="autorizar(pagamentosAutorizados)"
        class="btn btn-primary">Autorizar selecionados</button>
    </div>
</div>