<div class="col-sm-12" style="margin-top: 50px;">
    <table class="table table-striped table-bordered">
        <thead class="thead-light">
            <tr>
                <th>Cod</th>
                <th>Data da Ocorrência</th>
                <th>Descrição</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ocorrencia of ocorrencias">
                <td>{{ocorrencia.id}}</td>
                <td>{{ocorrencia.data | date:"dd/MM/yyyy"}}</td>
                <td>{{ocorrencia.descricao}}</td>
            </tr>
        </tbody>
    </table>
    <button routerLink="/listarPagamento" routerLinkActive="active" 
        class="btn btn-primary">Voltar</button>
</div>