<div class="col-sm-12" style="margin-top: 50px;">
 
        <select class="form-control" (change)="filter($event.target.value)">
                <option value="0">Todos os Pagamentos</option>
                <option *ngFor="let status of statusPagamento" value={{status}}>
                  {{status}}
                </option>
              </select>
 
    <table style="margin-top: 35px;"
     class="table table-striped table-bordered">
        <thead class="thead-light">
            <tr>
                <th>Cod</th>
                <th>Solicitante</th>
                <th>Descrição</th>
                <th>Vencimento</th>
                <th>Status</th>
                <th>Valor</th>
                <th>Ocorrências</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pagamento of pagamentosFilter">
                <td>{{pagamento.idPagamento}}</td>
                <td>{{pagamento.solicitante.nome}}</td>
                <td>{{pagamento.descricao}}</td>
                <td>{{pagamento.dataVencimento | date:"dd/MM/yyyy"}}</td>
                <td>{{pagamento.status}}</td>
                <td>{{pagamento.valor}}</td>
                <td>
                    <div *ngIf="pagamento.ocorrencias.length > 0">
                        <button (click)="listarOcorrencias(pagamento.idPagamento)"
                        class="btn btn-primary">Visualizar</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>