<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleCollapsed()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div [ngbCollapse]="getCollapsed()" class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item active">
        <a class="nav-link" href="#">Configurações<span class="sr-only">(current)</span></a>
      </li>

      <li ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle">Funcionario</a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a routerLink="/addFuncionario" routerLinkActive="active" 
            class="dropdown-item" href="#">Adicionar</a>
          <a routerLink="/funcionarios" routerLinkActive="active" 
            class="dropdown-item" href="#">Manter</a>
        </div>
      </li>

      <li ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle">Pagamentos</a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a routerLink="/addPagamento" routerLinkActive="active" 
            class="dropdown-item" href="#">Solicitar</a>
            <a routerLink="/listarPagamento" routerLinkActive="active" 
            class="dropdown-item" href="#">Listar</a>
          <a routerLink="/autorizarPagamento" routerLinkActive="active" 
            class="dropdown-item" href="#">Autorizar</a>
        </div>
      </li>

      <li ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle">Configurar Sistema</a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a routerLink="/autorizadores" routerLinkActive="active" 
            class="dropdown-item" href="#">Selecionar Autorizadores</a>        
        </div>
      </li>

    </ul>
  </div>
</nav>
<router-outlet></router-outlet>