<div class="container">
    <div class="col-sm-12" style="margin-top: 25px;">
        <h5 class="card-title">Buscar funcionario</h5>
            <div class="row-sm">
                <input class="form-control" type="text" 
                name="search" [(ngModel)]="searchText" 
                autocomplete="off" placeholder="Buscar por id, nome ou cargo do funcionario">
            </div>
    </div>
    <div class="col-sm-12" style="margin-top: 20px;">
        <table class="table table-striped table-bordered">
            <thead class="thead-light">
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Cargo</th>
                    <th class="text-center">Manter</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let funcionario of funcionarios| filter:searchText">
                    <td>{{funcionario.idFuncionario}}</td>
                    <td>{{funcionario.nome}}</td>
                    <td>{{funcionario.cargo}}</td>
                    <td align="center">
                        <button (click)="updateFuncionario(funcionario.idFuncionario)"
                            class="text-primary" style="margin-right: 10px;">Editar</button>                       
                        <button (click)="deleteFuncionario(funcionario.idFuncionario)"
                            class="text-danger" style="margin-left: 10px;">Excluir</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>