<div class="container" style="margin-top: 25px;">
    <form (ngSubmit)="onSubmit()" #funcionarioForm="ngForm">
        <div class="form-group">
            <label for="nome">Nome do funcionario</label>
            <input required name="nome" [(ngModel)]="funcionario.nome" #nomeFuncionario="ngModel" type="text"
                class="form-control" id="nome">

            <div class="alert alert-danger" *ngIf="nomeFuncionario.touched && !nomeFuncionario.valid">
                Nome do funcionário é um campo obrigatório
            </div>
        </div>

        <div class="form-group">
            <label for="cargo">Cargo do funcionario</label>
            <input required name="cargo" [(ngModel)]="funcionario.cargo" #cargoFuncionario="ngModel" type="text"
                class="form-control" id="cargo">

            <div class="alert alert-danger" *ngIf="cargoFuncionario.touched && !cargoFuncionario.valid">
                Cargo do funcionário é um campo obrigatório
            </div>
        </div>

        <button type="submit" [disabled]="!funcionarioForm.form.valid" class="btn btn-primary">Adicionar</button>
    </form>
</div>