<div class="col-sm-12" style="margin-top: 50px;">
 
    <table style="margin-top: 35px;"
 class="table table-striped table-bordered">
    <thead class="thead-light">
        <tr>
            <th>Cod</th>
            <th>Autorizador</th>
            <th>Cargo</th>
            <th>Limite de Autorizaçao</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let autorizador of autorizadores">
            <td>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox"  (change)="onChange(autorizador, $event.target.checked)">
                    <label style="margin-left: 10px;">{{autorizador.idAutorizador}}</label>
                </div>
            </td>
            <td>{{autorizador.nome}}</td>
            <td>{{autorizador.cargo}}</td>
            <td>{{autorizador.limiteAutorizacao}}</td>
        </tr>
    </tbody>
</table>
</div>